@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.bg-\[linear-gradient\(to_right,
_var\(--tw-gradient-stops\)\)\] {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.bg-\[conic-gradient\(from var\(--border-angle\),
_var\(--tw-gradient-stops\)\)\] {
  background-image: conic-gradient(
    from var(--border-angle),
    var(--tw-gradient-stops)
  );
}

@property --border-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes border-rotate {
  0% {
    --border-angle: 0deg;
  }
  100% {
    --border-angle: 360deg;
  }
}

.animate-border-rotate {
  animation: border-rotate 3s linear infinite;
}
